.circle1 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  red 20%, #000);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 2.3%;
  }
  
  .circle2 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(250, 208, 1) 0%, #000);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 7%;
    left: 20%;
  }
  
  .circle3 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  orange 0%, #000);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 7%;
    left: 80%;
  }
  
  .circle4 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(1, 179, 250) 0%, #000);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 60%;
    left: 2%;
  }
  
  .circle5 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(20, 226, 20) 0%, #000);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 30%;
    left: 97%;
  }
  
  .circle6 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(203, 27, 203) 0%, #000);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: 5%;
    left: 45%;
  }
  
  .circle7 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(20, 226, 20) 0%, #000);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 8%;
    left: 60%;
  }
  
  .circle8 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(246, 250, 20) 0%, #000);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 8%;
    left: 10%;
  }
  
  .circle9 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  red 20%, #000);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: 10%;
    left: 95%;
  }
  
  .circle10 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(247, 177, 47) 0%, #000);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 97%;
  }
  
  .circle11 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(203, 27, 203) 0%, #000);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: 20%;
    left: 2%;
  }
  
  .circle12 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(1, 179, 250) 0%, #000);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 1%;
    left: 50%;
  }
  
  .circle13 {
    position: fixed;
    background: radial-gradient(circle at 10px 10px, rgb(203, 27, 203) 0%, #000);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 60%;
    left: 97%;
  }
  .circle14 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(250, 208, 1) 0%, #000);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 80%;
    left: 1%;
  }
  .circle15 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  rgb(250, 208, 1) 0%, #000);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 80%;
    left: 97%;
  }
  .circle16 {
    position: fixed;
    background:radial-gradient(circle at 10px 10px,  orange 0%, #000);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 37%;
    left: 1%;
  }